@model IEnumerable<WebCinema.Models.Voucher>
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "All the Movies";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IndexVoucher</title>
    <link rel="shortcut icon" type="image/png" href="~/Admin/images/logos/Logo.png" />
    <link rel="stylesheet" href="~/Admin/css/styles.min.css" />
</head>

<body>

    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <!--  Movies  -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 d-flex align-items-strech">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                <div class="mb-3 mb-sm-0">
                                    <h5 class="card-title fw-semibold">Vouchers</h5>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Voucher Name</th>
                                                <th>End Date</th>
                                                <th>Description</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var product in Model)
                                            {
                                                <tr>
                                                    <td>@product.Code</td>
                                                    <td>@product.EndDate</td>
                                                    <td>@product.Description</td>
                                                    <td>

                                                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("DisplayVoucher", "Admin", new { id = @product.Id })'">View</button>
                                                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("UpdateVoucher", "Admin", new { id = @product.Id })'">Edit</button>
                                                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("DeleteVoucher", "Admin", new { id = @product.Id })'">Delete</button>
                                                        @* <form asp-action="AddShowtime" asp-controller="Admin" method="post">
                                                    <input type="hidden" asp-for="@product.MovieId" />
                                                    <button type="submit" class="btn btn-primary">Add Show Time</button>
                                                    </form> *@
@*                                                         <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AddShowtime", "Admin", new { movieId = @product.Id })'">Add a showtime</button>
 *@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Admin/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/js/sidebarmenu.js"></script>
    <script src="~/Admin/js/app.min.js"></script>
    <script src="~/Admin/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/Admin/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/Admin/js/dashboard.js"></script>
</body>
</html>