@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@*
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" placeholder="Gay Bowser" />
                <label asp-for="Input.FullName">Full Name</label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.DateOfBirth" class="form-control" autocomplete="dateofbirth" aria-required="true" placeholder="01/01/2000" />
                <label asp-for="Input.DateOfBirth">Date Of Birth</label>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.CMND" class="form-control" autocomplete="cmnd" aria-required="true" />
                <label asp-for="Input.CMND">CCCD</label>
                <span asp-validation-for="Input.CMND" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Address" class="form-control" autocomplete="address" aria-required="true" placeholder="123 Main Street, Anytown, USA" />
                <label asp-for="Input.Address">Address</label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control">
                    <option disabled selected>Select Role</option>
                </select>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
 *@

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Btalk</title>
    <link rel="shortcut icon" type="image/png" href="~/images/logo-2-no words.png" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <!-- ===== CSS links ===== -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="assets/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.mmenu.css">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--  Body Wrapper -->
    <!-- ===== Start of Signup wrapper ===== -->
    <div class="signup-wrapper">
        <div class="small-dialog-content">
            <!-- Start of Registration form -->
            <section>
                <form id="cariera_registration" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <a href="~/Home/index" class="text-nowrap logo-img text-center d-block py-3 w-100">
                        <img src="~/images/logo-2-no words.png" width="180" class="rounded-circle" alt="Btalk Logo">
                    </a>
                    <p class="text-center text-black">Where Every Frame Tells a Story</p>
                    <div class="small-dialog-headline">
                        <h4 class="text-center">Đăng Ký</h4>
                    </div>
                    <hr />
                    @* register *@
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-group">
                        <label asp-for="Input.FullName ">Họ Tên</label>
                        <span asp-validation-for="Input.FullName"></span>
                        <input asp-for="Input.FullName" id="movify_user_login" class="form-control" autocomplete="fullname" aria-required="true" placeholder="Họ Tên" />

                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email" class="form-label text-black" >Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />

                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Mật Khẩu</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <input asp-for="Input.Password" class="form-control" id="movify_password" autocomplete="new-password" aria-required="true" placeholder="Mật Khẩu" />

                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword">Ghi lại Mật Khẩu</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Mật Khẩu" />

                    </div>
                    <div class="form-group">
                        <label asp-for="Input.DateOfBirth">Ngày Sinh</label>
                        <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                        <input asp-for="Input.DateOfBirth" type="date" class="form-control" autocomplete="dateofbirth" aria-required="true" placeholder="01/01/2000" />

                    </div>
                    <div class="form-group">
                        <label asp-for="Input.CMND">CCCD</label>
                        <span asp-validation-for="Input.CMND" class="text-danger text-white"></span>
                        <input asp-for="Input.CMND" class="form-control" autocomplete="cmnd" aria-required="true" placeholder="058397984" />

                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Address">Địa Chỉ</label>
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                        <input asp-for="Input.Address" class="form-control" autocomplete="address" aria-required="true" placeholder="123 Main Street, Anytown, USA" />
                    </div>
                    <div></div>
                    <div class="form-group" id="selectedRole">
                        <label for="Input.Address">Roles </label>
                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control text-black">
                            @*                                                 <option disabled selected>Select Role</option>
                            *@
                        </select>
                    </div>
                    <div></div>
                    <div class="form-group">
                        <button id="registerSubmit" type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đăng Ký</button>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="fs-4 mb-0 fw-bold text-balck">Already a Btalk member?</p>
                        <a class="text-primary fw-bold ms-2" href="./Login">Đăng Nhập</a>
                    </div>
                </form>
            </section>
        </div>
        </main>
    </div>

    <script src="~/Admin/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@*
<script>
    $(document).ready(function () {
        $("#selectedRole").val("Customer"); // Replace with actual ID and value
    });
</script> *@